.header>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
}

.logo-span {
    color: #2E2F42;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid var(--CORNFLOWER);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}



@media screen and (max-width: 767px) {
    .nav-menu {
        display: none;
    }
    .address {
        display: none;
    }
    .mobil-menu-icon {
        stroke: #2F2F37;
    }
    .mobil-menu-btn {
        padding: 0;
        border: none;
        background-color: transparent;
        line-height: 0;
    }
}

@media screen and (min-width: 768px) {
    .mobil-menu-btn {
        display: none;
    }
    .header.container {
        display: flex;
        justify-content: space-between;
    }
    .header-nav {
        display: flex;
        align-items: center;
        gap: 120px;
    }
    .nav-menu {
        display: flex;
        gap: 40px;
    }
    .nav-menu-item-link {
        position: relative;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-menu-item-link:hover,
    .nav-menu-item-link:focus {
        color: #404BBF;
    }

    .after {
        color: #404bbf;
    }

    .after::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 48px;
        height: 4px;
        background-color: #404BBF;
        content: "";
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    .address {
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
    .address-list-item-link {
        color: var(--SLATE);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .address-list-item-link:hover,
    .address-list-item-link:focus {
        color: #404BBF;
    }

    .address-list-item-link:visited {
        color: #434455;
    }
}

@media screen and (min-width: 1158px) {
    .mobil-menu-btn {
        display: none;
    }
    .header-nav {
        /* display: flex;
        align-items: center; */
        gap: 76px;
    }
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .address-list-item-link {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

}
