:root {
    --navy-blue: #2E2F42;
    --navy-blue-modal: rgba(46, 47, 66, 0.40);
    --dairy: #FCFCFC;
    --LIGHT-SLATE: #8E8F99;
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --WHITE: #ffffff;
    --CLOUD: #F4F4FD;
    --CORNFLOWER: #E7E9FC;
    --SLATE: #434455;
}